@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39;');
body {
    margin: 0;
    padding: 0;
}

header {
    background-color:#169CA4;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    font-family: 'Kanit';
    background-color: #F7C620;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}
a:hover {
    color: #2706F9; 
}

.juego {
background-color: white;
border-radius: 10px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s ease;
}

.juego:hover {
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.juego img {
max-width: 100%;
border-radius: 10px;
margin-bottom: 10px;
}

.juego h2 {
font-size: 1.5em;
}

.juego p {
color: #181616;
}
.juegos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.juego{
    width: 31%;
    margin: 10px;
    border: 2px dashed #FBB40F; 
    border-radius: 10px;
    height: fit-content;


}
.info-button{
    align-self: flex-end;
    background-color: #FBB40F;
    padding: 5px 10px;
    margin:4px;
    border-radius: 5px;
    bottom:10px;
    right:10px;

}
h4 {
    color: #FFC045; 
    font-family: 'Kanit';
    font-size: 22px;
    text-align: center;
}
h3{
    color: #0c99f7; 
    font-family: 'Kanit';
    font-size: 25px;
    text-align: center;
}
h5{
    color: #000000; 
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.contenedorgeneral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

aside {
    width: 20%;
    background-color: #b7d2ee;
    padding: 10px;
    border-radius: 10px;
    border: 3px dotted black; 
    text-align:center;
}
.noticias {
    
    width: 75%;
    flex-wrap:wrap;
    }
.news {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.noticia{
    width: 45%;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    border: 2px solid #75b4f0; 
    height: fit-content;


}
.divider {
    margin: 10px 0;
    height: 3px; 
    background-color: #ffc400; 
}
.botom{
    top: 10px;
    right: 10px; 
    text-align:right;
    align-self: right;
    background-color: #FBB40F;
    padding: 5px 10px;
  
}
    p{
        text-align: center;
    }
    h6{
        text-align:left;
        font-size: 15px;
    }

    .contenedor-imagenes {
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .imagen-redonda {
        display: inline-block;
        margin: 40px;
    }
    
    .imagen-circular {
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 50%;
    }
    
    .imagen-circular img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    footer {
        width: 100%;
        background-color: #665959;
        color: #1b1b1b;
        padding: 2px;
    }
    .adress{
        text-align: right;
    }
    .location-container {
        text-align: right;
    }
    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .videojuegos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .videojuego {
        width: 300px;
        margin: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }
    
    .videojuego img {
        max-width: 100%;
    }
    
    .paginacion {
        margin-top: 20px;
        text-align: center;
    }
    
    .paginacion button {
        font-size: 16px;
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
    }
    .imagen {
        position: relative;
    }
    
    .imgId {
        width: 100%;
        margin: 0%;
        border-radius: 10px;
    }
    
    .MasInfo {
        top: 10px;
        right: 10px; 
        text-align:right;
        align-self: right;
        background-color: #FBB40F;
        padding: 5px 10px;
        position: absolute;
        transition: all 0.5s ease-in-out;
    }
    
    .MasInfo:hover {
        transform: scale(1.2);
        cursor: pointer;
    }